@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


:root{
    --background-color: #000010;
    --font-color:#ddf;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dark-theme{
    background-color: var(--background-color);
    color: var(--font-color);
}
.light-theme{
    background-color: var(--font-theme);
    color: var(--background-color);
}


.colored{
    max-width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: black;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

.link{
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    color: aliceblue;
    overflow: hidden !important;
    height: 0;
}
.show-link{
    margin-top: 4rem;
    height: 10rem !important;
    width: 10rem;
}
.nav{
    height: 4rem;
}

.side{
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(-100%);
}

.show{
    transform:translate(0);
}
